.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-frame1 {
  gap: 10px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(26, 26, 26, 1);
}
.home-ripped1 {
  width: 1200px;
  height: 853px;
}
.home-text {
  top: 94px;
  left: 64px;
  color: rgba(255, 255, 255, 1);
  width: 684px;
  height: auto;
  z-index: 1;
  position: absolute;
  font-size: 70px;
  font-style: Regular;
  text-align: left;
  font-family: Love Ya Like A Sister;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text02 {
  top: 277px;
  left: 64px;
  color: rgba(128, 158, 215, 1);
  width: 565px;
  height: auto;
  z-index: 2;
  position: absolute;
  font-size: 35px;
  font-style: Regular;
  text-align: left;
  font-family: Cherry Bomb;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text04 {
  top: 402px;
  left: 64px;
  color: rgba(255, 255, 255, 1);
  width: 513px;
  height: auto;
  z-index: 3;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Love Ya Like A Sister;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-rectangle1 {
  top: 60.35083770751953px;
  left: 712.9668579101562px;
  width: 441px;
  height: 492px;
  z-index: 4;
  position: absolute;
}
.home-rectangle2 {
  top: 94.46118927001953px;
  left: 741.2879638671875px;
  width: 381px;
  height: 377px;
  z-index: 5;
  position: absolute;
}
.home-text09 {
  top: 486.6034240722656px;
  left: 716.2350463867188px;
  color: rgba(128, 158, 215, 1);
  width: 199px;
  height: auto;
  z-index: 6;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Permanent Marker;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text11 {
  top: 493.3125px;
  left: 925.0059814453125px;
  color: rgba(128, 158, 215, 1);
  width: 197px;
  height: auto;
  z-index: 7;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Permanent Marker;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
