.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-frame1 {
  gap: 10px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(26, 26, 26, 1);
}
.home-ripped1 {
  width: 1920px;
  height: 1371px;
}
.home-text {
  top: 167px;
  left: 151px;
  color: rgba(255, 255, 255, 1);
  width: 1094px;
  height: auto;
  z-index: 1;
  position: absolute;
  font-size: 100px;
  font-style: Regular;
  text-align: left;
  font-family: Love Ya Like A Sister;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text02 {
  top: 429px;
  left: 151px;
  color: rgba(128, 158, 215, 1);
  width: 903px;
  height: auto;
  z-index: 2;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: left;
  font-family: Cherry Bomb;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text04 {
  top: 606px;
  left: 151px;
  color: rgba(255, 255, 255, 1);
  width: 828px;
  height: auto;
  z-index: 3;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Love Ya Like A Sister;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-rectangle1 {
  top: 97px;
  left: 1140.7469482421875px;
  width: 705px;
  height: 790px;
  z-index: 4;
  position: absolute;
}
.home-rectangle2 {
  top: 151.82449340820312px;
  left: 1186.060791015625px;
  width: 610px;
  height: 606px;
  z-index: 5;
  position: absolute;
}
.home-text09 {
  top: 782.1023559570312px;
  left: 1145.97607421875px;
  color: rgba(128, 158, 215, 1);
  width: 319px;
  height: auto;
  z-index: 6;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: left;
  font-family: Permanent Marker;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text11 {
  top: 792.8856201171875px;
  left: 1480.009521484375px;
  color: rgba(128, 158, 215, 1);
  width: 315px;
  height: auto;
  z-index: 7;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: left;
  font-family: Permanent Marker;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
