@import url('https://fonts.googleapis.com/css?family=Coiny');
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    font-family: "Coiny";
    margin: 0;
    padding: 0;
}

body{
    background-color: #F1F1FE;
    margin: 0;
    padding: 0;
}

#header-container {
    position: relative;
    text-align: center;
    width: 100vw;
    height: 58vw;
    margin: 0;
    background-image: url('./assets/header/header_shape.svg'); /* Set the image as a background */
    background-repeat: no-repeat;
    overflow: hidden;
}

#internal-container {
    margin-top: 7vw;
    margin-left: 15vw;
}

#internal-container h1{
    position: relative;
    width: 40vw;
    padding: 0;    
    margin: 0;
    font-size: 4.25vw;
}

#internal-container h2{
    position: relative;
    width: 40vw;
    padding: 0;
    margin-bottom: -5px;
    font-size: 3.25vw;
}

#internal-container h3{
    position: relative;
    width: 40vw;
    padding: 0;
    margin: 0;
    font-size: 1.75vw;
}

#internal-container p{
    position: relative;
    width: 40vw;
    padding: 0;
    margin: 2vw 0px 0px 0px;
    font-size: 1.25vw;
    line-height: 1.5;
}

#picture {
    position: absolute;
    text-align: center;
    width: 28vw;
    height: 28vw;
    max-width: 500px;
    max-height: 500px;
    top: 6vh;
    left: 63vw;
    background-image: url('./assets/header/Pic.png'); /* Set the image as a background */
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    border: #1df205;
    border-radius: 10px;
}

#link-row {   
    width: 58%;
    position: relative;
    top: 82%;
    margin-left: auto; 
    margin-right: auto;
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Distribute space between the images */
    align-items: center; /* Center the images vertically */
}

.links{
    position: relative;
    height: 3.3vw;
    width: 3.3vw;
    overflow: hidden;
}

.central{
    width: 85vw;
}

.project-links{
    position: absolute;
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Distribute space between the images */
    align-items: center; /* Center the images vertically */
}

#timeline{
    margin: 10.25vw 0vw;
}

#project-title{
    margin: 0px;
}

#artwalks-background{
    top: -15vh;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#artwalks{
    height: 110vh;
}

#artwalks-vid-1{
    position: absolute;
    left: 65vw;
    top: 10vh;
    width: 25vw;
    height: 65vh;

    border-radius: 25px !important;
    object-fit: cover !important;

}

#artwalks-vid-2{
    position: relative;
    top: 1vw;
    left: 15vw;
    width: 35%;
    height: 33%;

    border-radius: 25px !important;
    object-fit: cover !important;

}

#artwalks p{
    width: 60%;
    height: 30%;
}

#artwalks .project-links{
    top: 2.5vh;
    left: calc(140px + 30vw);
    width: 14vw;
}

#avatarforge{
    width: 90vw;
    top: -80px;
    height: 120vh;
}

#avatarforge-background{
    top: -22vh;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    left: 0;
}

#realdibs{
    width: 100vw;
    top: -250px;
    height: 90vh;
}

#realdibs-background{
    top: -5vh;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    left: 0;
    opacity: 1;
}

#realdibs p{
    width: 60%;
    height: 30%;
}

#realdibs .project-subtitle{
    width: 50%;
    line-height: 30px;
    margin: -1% 0% 0% 5vw;
}

.project{
    position: relative;
    height: 100vh;
    width: 95vw;
    margin: 0px;
    padding: 0px;
    opacity: 1;

}

.left{
    text-align: left;
}

.right{
    left: 10vw;
    text-align: right;
}

h1{
    color: #FFF;
    font-family: "Coiny";
    font-size: 55px;
    font-style: "normal";
    font-weight: 400;
    line-height: 55px;
}

h2{
    color: #F1F1FE;
    font-size: 42px;
}

h3{
    color: #819ED8;
    font-size: 25px;

}

p{
    font-size: 18px;
    font-family: "Roboto";
    color: #F1F1FE;
}

.section{
    text-align: center;
}

.section-title{
    color: #F1F1FE;
    text-align: center;
    font-size: medium;
}

.project-title{
    position: relative;
    font-size: calc(10px + 2vw);
    width: 50%;
    margin: 9% 0% 0% 5vw;
    padding: 0;

}

.project-subtitle{
    position: relative;
    font-size: calc(6px + 1.7vw);
    width: 50vw;
    margin: -2% 0% 0% 5vw;
    padding: 0;
}

.project-desc{
    font-family: "Roboto";
    font-size: calc(5px + 1vw);
    width: 50%;
    margin: 0% 0% 0% 5vw;
    padding: 0;
    opacity: 1;
}

li {
    font-family: "Roboto";
    font-size: 18px;
}

#artwalks *{
    color: #1A1A74;
}

#avatarforge *{
    color: #F1F1FE;
}

#realdibs *{
    color: #1A1A74;
}
